networks:
  hyperativa-backend:

services:
  hyperativa-db:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - hyperativa-postgres-data:/var/lib/postgresql/data
    networks:
      - hyperativa-backend

  hyperativa-be-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9020:9020"
    environment:
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - hyperativa-db
    networks:
      - hyperativa-backend

volumes:
  hyperativa-postgres-data: